@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

h1{
    font-family: 'Poppins', sans-serif;
}

.buttonCancel{
    background-color: #2F75E5;
    color: #ffff;
}

.buttonSave{
    background-color: #59B17E;
    color: #ffff;
}