<div class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Insira o endereço</mat-label>
    <input matInput (input)="filterInput()" [(ngModel)]="filterTerm">
  </mat-form-field>
</div>

<div class="table">
  <table *ngIf="enderecos.length > 0">
    <tr>
      <td> <b>Endereço</b></td>
      <td> <b>Rua</b></td>
      <td><b>Número</b></td>
      <td><b>Complemento</b></td>
      <td><b>Bairro</b></td>
      <td><b> CEP </b></td>
      <td><b>Cidade</b></td>
      <td><b>Estado</b></td>
      <td class="tdDesativar"> <b> Desativar </b></td>
    </tr>
    <tr *ngFor="let endereco of enderecos">
      <td>{{endereco.id}}</td>
      <td class="tdDescricao"> {{endereco.rua}} </td>
      <td>{{endereco.numero}}</td>
      <td>{{endereco.complemento}}</td>
      <td>{{endereco.bairro}}</td>
      <td>{{endereco.cep}}</td>
      <td>{{endereco.cidade}}</td>
      <td>{{endereco.uf}}</td>
      <td class="tdDesativar">
        <button class="buttonDelete" mat-stroked-button (click)="deleteEndereco(endereco.id)">X</button>
      </td>
    </tr>
  </table>

<div class="noRegister" *ngIf="enderecos.length == 0">
  <p>Nenhum registro encontrado.</p>
</div>
