<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1 class="registrar">Registrar usuário</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Usuário" type="text" [(ngModel)]="name">
        </mat-form-field> <br>
            <mat-form-field appearance="fill">
                <mat-label>Usuário</mat-label>
                <input matInput placeholder="Usuário" type="text" [(ngModel)]="username">
            </mat-form-field> <br>
            <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label> 
                <input matInput placeholder="Senha"  [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button> 
            </mat-form-field> <br>
            <mat-form-field appearance="fill">
                <mat-label>Confirme a sua senha</mat-label>
                <input matInput placeholder="Senha"  [type]="hide ? 'password' : 'text'" [(ngModel)]="cpassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field> <br>
                   
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="add()" class="botaoEntrar">Cadastrar</button> <br>
        <a routerLink="/login" class="usuarioCadastrado">Já possui uma conta? Entre aqui!</a>
    </mat-card-actions>
</mat-card>