<mat-tab-group>
    <mat-tab label="Cliente"> 
        <app-basicmodal [title]="'Editar novo cliente'" (save)="save()">
            <app-input [label]="'Nome Fantasia do cliente'"  [(ngModel)]="customer.nomeFantasia"></app-input>
            <app-input [label]="'Razão Social do Cliente'"  [(ngModel)]="customer.razaoSocial"></app-input>
            <app-input [label]="'CNPJ'"  [(ngModel)]="customer.CNPJ"></app-input>
            <app-input [label]="'Cliente desde? '"  [required]="true" [(ngModel)]="customer.clienteDesde" [type]="'date'"></app-input>
        </app-basicmodal>        
    </mat-tab>

    <mat-tab label="Endereço"> 
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Insira a rua</mat-label>
            <input matInput (input)="filterInput()" [(ngModel)]="filterTerm">
          </mat-form-field>
          <button class="buttonSearch" mat-stroked-button (click)="openModal()">+</button>
        <table>
            <tr>
              <th>CEP</th>
              <th>Rua</th>
              <th>Bairro</th>
              <th>Cidade</th>
              <th>Estado</th>
              <th>Número</th>
              <th>Complemento</th>
            </tr>
            <tr  *ngFor="let address of customer.address">
              <td (click)="openModal()">{{address.cep}}</td>
              <td (click)="openModal()">{{address.rua}}</td>
              <td>{{address.bairro}}</td>
              <td>{{address.cidade}}</td>
              <td>{{address.uf}}</td>
              <td>{{address.numero}}</td>
              <td>{{address.complemento}}</td>
            </tr>
          </table>
    </mat-tab>
    <mat-tab label="Salvar informações"> 
        <app-basicmodal [title]="'Alterar cliente com endereço?'" (save)="save()">
        </app-basicmodal> 
    </mat-tab>
</mat-tab-group>
<mat-tab-group>