<div class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Insira o cliente</mat-label>
      <input matInput (input)="filterInput()" [(ngModel)]="filterTerm">
    </mat-form-field>
    <button class="buttonSearch" mat-stroked-button (click)="openModal()">+</button>
  </div>
  
  <div class="table">
    <table *ngIf="clientes.length > 0">
      <tr>
        <td><b> ID </b></td>
        <td> <b>Cliente</b></td>
        <td><b>CNPJ</b></td>
        <td><b>Endereço</b></td>
        <td class="tdDesativar"> <b> Desativar </b></td>
      </tr>
      <tr *ngFor="let cliente of clientes">
        <td>{{cliente.id}}</td>
        <td (click)="openModalEdit(cliente)" class="tdDescricao"> {{cliente.razaoSocial}} </td>
        <td>{{cliente.CNPJ}}</td>
        <td (click)="openModalEndereco(cliente)" class="matIcon"> <mat-icon>home</mat-icon> </td>
        <td class="tdDesativar">
          <button class="buttonDelete" mat-stroked-button (click)="deleteCliente(cliente.id)">X</button>
        </td>
      </tr>
    </table>

    <div class="noRegister" *ngIf="clientes.length == 0">
      <p>Nenhum registro encontrado.</p>
    </div>
  
  </div>
  