<div class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Insira o usuário</mat-label>
      <input matInput (input)="filterInput()" [(ngModel)]="filterTerm">
    </mat-form-field>
    <button class="buttonSearch" mat-stroked-button (click)="openModal()">+</button>
  </div>
  
  <div class="table">
    <table *ngIf="users.length > 0">
      <tr>
        <td><b> ID </b></td>
        <td> <b>Nome</b></td>
        <td><b>Username</b></td>
        <td><b>Permissão</b></td>
        <td class="tdDesativar"> <b> Desativar </b></td>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td (click)="openModalEdit(user)" class="tdDescricao"> {{user.name}} </td>
        <td>{{user.username}}</td>
        <td>{{user.permissao}}</td>
        <td class="tdDesativar">
          <button class="buttonDelete" mat-stroked-button (click)="deleteUser(user.id)">X</button>
        </td>
      </tr>
    </table>

    <div class="noRegister" *ngIf="users.length == 0">
      <p>Nenhum registro encontrado.</p>
    </div>
  
  </div>
  