@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

button{
    font-family: 'Poppins', sans-serif;
}

.nav-container {
    position: absolute;
    top: 4.0rem;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.nav-content{
    width: 13rem;
}


  